<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.fitfactory">
    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FitFactory">

        <activity
            android:name=".Activities.LoginAndStarting.signup"
            android:exported="false" />
        <activity android:name=".Activities.Water.waterreminder"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".Activities.LoginAndStarting.loginactivity"
            android:exported="false" />
        <activity
            android:name=".Activities.MainActivity.MainActivity"
            android:exported="true" />

        <activity
            android:name=".Activities.LoginAndStarting.Startpage"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activities.medicaldetails" />
        <activity android:name=".Activities.LoginAndStarting.genderselection" />
        <activity android:name=".Activities.Water.waternotificationsettings" />
        <activity android:name=".Activities.ASANA.vrikshaasana" />
        <activity android:name=".Activities.ASANA.virabhadraasana" />
        <activity android:name=".Activities.ASANA.vajraasana" />
        <activity android:name=".Activities.ASANA.trikonasana" />
        <activity android:name=".Activities.ASANA.tadasana" />
        <activity android:name=".Activities.ASANA.shavasana" />
        <activity android:name=".Activities.ASANA.Pranayaam" />
        <activity android:name=".Activities.ASANA.paschimottanasana" />
        <activity android:name=".Activities.ASANA.hastuttanasana" />
        <activity android:name=".Activities.ASANA.gomukhasana" />
        <activity android:name=".Activities.ASANA.bhujangasana" />
        <activity android:name=".Activities.ASANA.chakraasana" />
        <activity android:name=".Activities.AllPosture.Yoga_postures" />
        <activity android:name=".Activities.oxygencalculator" />
        <activity android:name=".Activities.Oxygenprocess" />
    </application>

</manifest>